/* ./src/index.css */
@tailwind base;
@tailwind components;
body {
    overflow-x: hidden;
}
h1 {
    @apply text-5xl leading-normal;
}

h2 {
    @apply text-4xl leading-normal;
}

h3 {
    @apply text-3xl leading-normal;
}

h4 {
    @apply text-2xl leading-normal;
}

h5 {
    @apply text-2xl leading-normal;
}

button { width: fit-content; }

.snap {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scroll-behavior: smooth
}

.modal {
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:fixed;
}

.modal-bottom {
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  position: fixed;  
}

.modal-top {
  top:0;
  left:50%;
  transform: translateX(-50%);
  position: fixed;  
}

.modal-top-left {
  top:0;
  left:0;
  position: fixed;  
}

.modal-top-right {
  top:0;
  right:0;
  position: fixed;  
}

.modal-bottom-left {
  bottom:0;
  left:0;
  position: fixed;  
}

@tailwind utilities;
